body {
  font: 16px/1 $fontRoboto;
}

.section {
  color: #333;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.row {
  margin: 0 -15px;
  font-size: 0;
}

.column {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  font-size: 16px;
  &.column-3_4{
    width: 75%;
  }
  &.column-5{
    width: 20%;
  }

  &.column-4 {
    width: 25%;
  }

  &.column-3 {
    width: 33.3%;
  }

  &.column-2 {
    width: 50%;
  }
}



