.section-item{
  .section-item-main{
    cursor: pointer;
    &:hover{
      a{
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px $colorGreen;
        .section-item-box{
          opacity: 1;
        }
      }
    }
    .section-item-link{
      display: block;
      color: #fff;
      background-size: cover;
      background-position: center;
      position: relative;
      transition: all .3s;
      .section-item-box{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(243,129,129);
        background: -moz-linear-gradient(top, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%);
        background: -webkit-linear-gradient(top, rgba(243,129,129,.9) 0%,rgba(252,227,138,.9) 100%);
        background: linear-gradient(to bottom, rgba(243,129,129,.9) 0%,rgba(252,227,138,.9) 100%);
        opacity: 0;
        transition: all .3s;
        .section-item-content{
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          font-size: 0;
          .section-item-social{
            width: 55px;
            height: 56px;
            display: inline-block;
            vertical-align: top;
            background: #fce38a;
            position: relative;
            margin-right: 1px;
            transition: all .3s;
            &:hover{
              background: #f38181;
            }
          }
        }
      }
    }
    .section-item-desc{
      padding: 27px 0;
      .name{
        font: 14px $fontMontserrat;
        text-transform: uppercase;
        color: $colorSGray;
        margin-bottom: 8px;
      }
      .position{
        font: italic 15px $fontRoboto;
        color: $colorLGray;
      }
    }
  }
  svg{
    max-width: 100%;
    max-height: 100%;
    fill: #fff;
  }
  span{
    font: 700 18px $fontMontserrat;
    text-transform: uppercase;
    display: block;
  }
}