.dev-slider,
.slick-slider{
  text-align: left;
  overflow: hidden;
  position: relative;
  .slick-arrow{
    width: 12px;
    height: 22px;
    font-size: 0;
    z-index: 1;
    &:hover{
      opacity: .75;
    }
    &:before{
      display: none;
    }
    &.slick-prev{
      background: url(../../../assets/svg/arrow-left.svg);
      left: 16px;
    }
    &.slick-next{
      background: url(../../../assets/svg/arrow-right.svg);
      right: 16px;
    }
  }
  .slick-slide{
    display: inline-block;
    font-size: 0;
    outline: none;
    .slide-column{
      &.left-column{
        padding-left: 70px;
      }
      &.right-column{
        padding-right: 70px;
      }
    }
  }
  .slick-main{
    blockquote{
      font: italic 300 24px/1.5 $fontRoboto;
      color: $colorLGray;
      margin-bottom: 13px;
    }
    .signature{
      font: 24px $fontKaushan;
      color: $colorSGray;
      position: relative;
      vertical-align: middle;
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        width: 60px;
        height: 3px;
        background: #f38181;
      }
    }
  }
}