@import "header";
@import "banner";
@import "about-us";
@import "facts";
@import "service";
@import "feature";
@import "quote";
@import "our-team";
@import "logos";
@import "work";
@import "testimonial";
@import "people";
@import "blog";