.section-blog{
  padding: 104px 0 92px;
  .blog{
    padding: 6px 0;
    .blog-column{
      text-align: left;
    }
  }
  .blog-pic{
    position: relative;
    background-size: cover;
    padding-top: calc(100% * 0.63);
    margin-bottom: 17px;
    .blog-date{
      position: absolute;
      left: -10px;
      bottom: 10px;
      background: $colorGreen;
      color: #fff;
      text-align: center;
      padding: 9px 14px 11px;
      .day{
        font: 800 30px/1 $fontMontserrat;
      }
      .month{
        font: italic 15px $fontRoboto;
      }
    }
  }
  .blog-main{
    .title{
      font: 500 14px $fontMontserrat;
      color: $colorSGray;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      margin-bottom: 11px;
    }
    .description{
      font: 15px/1.6 $fontRoboto;
      color: $colorLGray;
      margin-bottom: 16px;
    }
  }
  .status{
    border-top: 1px solid #e5e5e5;
    padding: 17px 0;
    .status-item{
      display: inline-block;
      vertical-align: top;
      font: italic 15px $fontRoboto;
      color: $colorLGray;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
      }
      &.views{
        padding-left: 25px;
        margin-right: 13px;
        &:before{
          background-image: url(../svg/VIEW.svg);
          width: 20px;
          height: 12px;
        }
      }
      &.comments{
        padding-left: 22px;
        &:before{
          background-image: url(../svg/SPEECH.svg);
          width: 16px;
          height: 14px;
        }
      }
    }
  }
}