.section-header{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  fill: #fff;
  color: #fff;
  padding: 28px 0;
  &.fixed{
    position: fixed;
    background: rgba(255,255,255,.7);
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    &._bg{
      background: rgba(255,255,255,1)
    }
    .header-logo{
      a{
        background-position: 0 -23px;
      }
    }
    .header-nav{
      a{
        color: #333;
        fill: #333;
        &:hover{
          border-bottom-color: #333;
        }
      }
    }
  }

  .row{
    margin: 0 -20px;
  }
  .header-logo{
    padding: 0 20px;
    display: inline-block;
    vertical-align: bottom;
    a{
      background-image: url(../../../assets/img/logo.png);
      background-position: 0 0;
      width: 85px;
      height: 22px;
      display: inline-block;
    }
  }
  .header-nav{
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 125px);
    padding: 0 15px;
    text-align: right;
    fill: #fff;
    .header-nav-item{
      font: 14px/1 $fontMontserrat;
      padding: 0 28px;
      display: inline-block;
      vertical-align: middle;
      &.icon{
        padding: 0 21px;
        svg{
          width: 18px;
          max-height: 18px;
        }
      }
    }
    a{
      color: #fff;
      fill: #fff;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      padding-bottom: 0;
      transition: all .3s;
      &:hover{
        border-bottom-color: #fce38a;
        padding-bottom: 12px;
      }
    }
  }
}