.section-quote{
  background: #f8f8f8;
  padding: 57px 0;
}

.quote-slider{
  .quote-slide{
    .quote-slide-icon{
      border: 3px solid #95e1d3;
      padding: 40px;
      max-width: 150px;
      max-height: 150px;
      margin: auto;
      svg{
        width: 63px;
        height: 61px;
      }
    }
  }
}